name: Mirror to Codeberg
on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: |
          git remote add codeberg https://${{ secrets.CODEBERG_TOKEN }}@codeberg.org/xata/ubiquitous-cube-game.git
          git push --force codeberg ${{ github.ref }}
          git push --tags codeberg